<div class='row text-center'>

    <h1 class='article-header'><%- page.title %></h1>
   </div>
   <div class='text-muted post-data'>
        <p>Author: <a href="/about/"><%- config.author %></a></p>
        <div><%- date(page.date, config.date_format) %></div> 
        <div><%- list_tags(page.tags, { 
            show_count:false,
            class:'article-tag'
        }) %> </div>

    </div>
   <div class='row article-wrap'>
    <a class='btn back-btn' href='/'><i class="fa fa-chevron-left"></i></a>
   
    <div class="article-inner">
        <%- page.content %>
    </div>

    <div class="article-footer">
        <hr>
        

    </div>
   </div>